<nav class="navbar navbar-default bg-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">UNIJOBS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLinkActive]="['active']" [routerLink]="['/home']"> HOME </a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/auth/login']"> LOGIN </a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/auth/register']"> REGISTER </a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <router-outlet></router-outlet>
</div>


