<div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4"><img src="/src/img/team/alex.png" class="img-responsive center-block margin" alt="Image"></div>
          <div class="col-lg-6">
            My profile:
            <br><br>
            <div *ngIf="user">
            <ul>
              <li>First name : {{user.firstname}}</li>
              <li>Last name : {{user.lastname}}</li>
              <li>Email : {{user.email}}</li>
              <!--TODO-->
              <li>Date of birth : {{user.dob}} </li>
              <li>Username : {{user.username}}</li>
              <!--TODO-->
              <li>Phone: 0745234343</li>
            </ul>
            </div>
            <hr><hr>
          </div>
        </div>
      </div>
    </div>
</div>

