<div *ngIf="jobs">
  <div class="row">
    <div *ngFor="let job of jobs">
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>{{job.description}}</h4>
            Pay: {{job.cost}} RON <br>
            Time: {{job.hpw}} h / week <br>
            Location: {{job.location}} <br>
            <button class="btn btn-primary btn-xs pull-right">Apply</button>
            <button class="btn btn-info btn-xs pull-right">Info</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
