<nav class="navbar navbar-default bg-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">UNIJOBS</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="user"><a> Hello, {{user.username}}</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/home']"> Home </a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/user/jobs']"> Jobs </a></li>
      <li><a [routerLinkActive]="['active']" (click)="logout()"> Log out </a></li>
    </ul>
    <div class="collapse navbar-collapse" id="myNavbar">
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


