<h1 style="align-content: center"> Give us some more details! </h1>
<br>
<br>
<form class="form-horizontal" role="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
  <fieldset>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname?.valid }">
       <div class="col-lg-6 col-lg-offset-3">
          <label for="username" class="col-lg-3 control-label">First Name</label>
          <div class="col-lg-8">
             <input type="text" id="firstname" #firstname="ngModel" class="form-control" [(ngModel)]="model.firstname" name="firstname" placeholder="First Name" required>
          </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname?.valid }">
       <div class="col-lg-6 col-lg-offset-3">
          <label for="username" class="col-lg-3 control-label">Last name</label>
          <div class="col-lg-8">
              <input type="text" id="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" class="form-control" name="lastname"  placeholder="Last name" required>
          </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dob?.valid }">
           <div class="col-lg-6 col-lg-offset-3">
              <label for="username" class="col-lg-3 control-label">Date of birth:</label>
              <div class="col-lg-8">
                  <input type="date" id="dob" [(ngModel)]="model.dob" #dob="ngModel" class="form-control" name="dob"  placeholder="dd/mm/yyyy" >
              </div>
          </div>
        </div>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-4">
        <button type="submit" class="btn btn-primary" [disabled]="loading">Submit</button>
        <img style="margin-left: 5px;" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </div>
  </fieldset>
</form>
<alert></alert>
